header {
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tfxlogo{
  fill: #fff;
  width: 6%;
}

header a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  transition: linear 0.1s;
}

header a:hover {
  color: rgb(189, 189, 189);
  text-decoration: none;
}