@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Jost', sans-serif;
    text-align: center;
}
body{
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(42,42,42,1) 100%);
}

#tfxlogo{
  fill: #fff;
  width: 6%;
}

#portfolio-image {
  width: 43%;
  float: right;
}

#portfolio-text {
  font-size: 34px;
  text-align: left;
}

h2 {
  color: #ffffff;
}

p {
  color: #ffffff;
}

h1{
  margin-top: -18px;
  margin-bottom: -18px;
  animation: 1s infinite alternate ease-out breathing-color--dark
}

@keyframes breathing-color--dark {
  from
  {
      color: rgba(255, 255, 255, 0.5);
  }
  to
  {
      color: #ffffff;
  }
}

#center{
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

#knowmore{
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: #464646;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 26px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: linear 0.15s;
  box-shadow: 0px 0px 10px 3px #64646470;
  text-decoration: none;
}

#knowmore:hover{
  border-radius: 5px;
  scale: 101%;
  box-shadow: 0px 0px 10px 3px #ffffff70;
}

/* Add a bit of styling to the container */
.App {
  text-align: center;
  margin: 20px;
}

/* Style for the album list */
ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for each album item */
li {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  text-align: left;
  width: 300px; /* Set the width to 300px */
  background-color: #252525;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for album image */
img {
  max-width: 100%;
  height: auto;
}

/* Style for album title */
h2 {
  margin-top: 10px;
  font-size: 1.5rem;
}

/* Style for album details */
p {
  margin: 5px 0;
  font-size: 1rem;
}

/* Add some spacing between album items */
li + li {
  margin-left: 20px;
}

/* Add a bit of spacing to the top header */
h1 {
  margin-top: 20px;
}

.texthome{
  margin-top: 15%;
}

